[submodule ".vim/bundle/vim-rooter"]
	path = .vim/bundle/vim-rooter
	url = http://github.com/airblade/vim-rooter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
  url = git://github.com/wincent/Command-T.git
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = git://github.com/tpope/vim-git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-ruby.git"]
	path = .vim/bundle/vim-ruby.git
	url = git://github.com/vim-ruby/vim-ruby.git
